.myButton {
    border: none;
    background-color: #fff;
    padding: 10px 28px;
    cursor: pointer;
    transition: all .2s;
}
.myButton:hover {
    background-color: #f7f3f3;
}
.myInput {
    border: none;
    outline: none;
    padding: 10px 15px;
}